In [ ]:
import pandas as pd

In [8]:
names = ['a','b','c','d','e']
data = pd.Series(names)
print(data)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [9]:
numbers = ['1','b','3','d','5']
data = pd.Series(numbers)
print(data)

0    1
1    b
2    3
3    d
4    5
dtype: object

In [11]:
my_dict = {"name":"Ajees","age":28,"city":"Madurai"}
data = pd.Series(my_dict)
print(data)

name      Ajees
age          28
city    Madurai
dtype: object

In [13]:
numbers = ['1','b','3','d','5']
data = pd.Series(numbers)
print(data)
print(data.index)
print(data.values)
print(data.dtype)

0    1
1    b
2    3
3    d
4    5
dtype: object
RangeIndex(start=0, stop=5, step=1)
['1' 'b' '3' 'd' '5']
object

In [18]:
numbers = [1,2,3,4,5]
data = pd.Series(numbers)
print(data.sum())
print(data.product())
print(data.mean())

15
120
3.0

In [20]:
numbers = [1,2,3,4,5]
name = ['a','b','c','d','e']

data = pd.Series(data=name, index=numbers)
print(data)

1    a
2    b
3    c
4    d
5    e
dtype: object