In [1]:
import pandas as pd

In [7]:
data = pd.read_csv("pokemon.csv",usecols = ["Pokemon"], squeeze = True)

print(data.head())

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [10]:
data.sort_values(ascending = True, inplace = True)
print(data.head())

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [13]:
data.sort_index(ascending = False, inplace = True)
print(data.head())

720    Volcanion
719        Hoopa
718      Diancie
717      Zygarde
716      Yveltal
Name: Pokemon, dtype: object

In [17]:
number = [5, 2, 3, 4, 1]
names = ['a','b','c','d','e']

data1 = pd.Series(data = names, index = number)
print(data1)

5    a
2    b
3    c
4    d
1    e
dtype: object

In [18]:
data.sort_index(inplace = True)
print(data)

1    e
2    b
3    c
4    d
5    a
dtype: object

In [19]:
1 in data

True

In [25]:
6 in data.index

False

In [26]:

"a" in data.values

True

In [28]:
number = [1, 2, 3, 4, 5]
names = ['a','b','c','d','e']


data = pd.Series(data = names, index = number)
print(data)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [34]:
print(data[2])

b

In [37]:
print(data[[1,2,3]])

1    a
2    b
3    c
dtype: object