In [1]:
import pandas as pd

In [10]:
data = pd.read_csv("nba.csv")
print(data.head())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

In [3]:
print(data[["Name","Team","Number"]])

              Name            Team  Number
0    Avery Bradley  Boston Celtics     0.0
1      Jae Crowder  Boston Celtics    99.0
2     John Holland  Boston Celtics    30.0
3      R.J. Hunter  Boston Celtics    28.0
4    Jonas Jerebko  Boston Celtics     8.0
..             ...             ...     ...
453   Shelvin Mack       Utah Jazz     8.0
454      Raul Neto       Utah Jazz    25.0
455   Tibor Pleiss       Utah Jazz    21.0
456    Jeff Withey       Utah Jazz    24.0
457            NaN             NaN     NaN

[458 rows x 3 columns]

In [6]:
data["num"] = data["Number"] * 100

In [7]:
print(data[["Name","Team","Number","num"]])

              Name            Team  Number       num
0    Avery Bradley  Boston Celtics     0.0       0.0
1      Jae Crowder  Boston Celtics  9900.0  990000.0
2     John Holland  Boston Celtics  3000.0  300000.0
3      R.J. Hunter  Boston Celtics  2800.0  280000.0
4    Jonas Jerebko  Boston Celtics   800.0   80000.0
..             ...             ...     ...       ...
453   Shelvin Mack       Utah Jazz   800.0   80000.0
454      Raul Neto       Utah Jazz  2500.0  250000.0
455   Tibor Pleiss       Utah Jazz  2100.0  210000.0
456    Jeff Withey       Utah Jazz  2400.0  240000.0
457            NaN             NaN     NaN       NaN

[458 rows x 4 columns]

In [33]:
data["Salary"] = data["Salary"].dropna()

In [34]:
print(data.dtypes)

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary       object
dtype: object

In [42]:
data.dropna(how="all")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,NaN
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,NaN
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,NaN
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,NaN
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,NaN
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,NaN
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,NaN
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,NaN

In [39]:
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,NaN
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,NaN
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,NaN
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,NaN

In [40]:
data.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary       object
dtype: object

In [43]:
data["Team"] = data["Team"].astype("category")

In [44]:
data.dtypes

Name          object
Team        category
Number       float64
Position      object
Age          float64
Height        object
Weight       float64
College       object
Salary        object
dtype: object

In [46]:
data["Team"].value_counts()

New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Atlanta Hawks             15
Utah Jazz                 15
Toronto Raptors           15
San Antonio Spurs         15
Sacramento Kings          15
Portland Trail Blazers    15
Phoenix Suns              15
Philadelphia 76ers        15
Oklahoma City Thunder     15
Boston Celtics            15
Miami Heat                15
Los Angeles Lakers        15
Los Angeles Clippers      15
Indiana Pacers            15
Houston Rockets           15
Golden State Warriors     15
Detroit Pistons           15
Denver Nuggets            15
Dallas Mavericks          15
Cleveland Cavaliers       15
Chicago Bulls             15
Charlotte Hornets         15
Brooklyn Nets             15
Washington Wizards        15
Minnesota Timberwolves    14
Orlando Magic             14
Name: Team, dtype: int64