In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("google_stock_price.csv", squeeze = True)
print(data.head())

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [5]:
print(data.dtype)

float64

In [6]:
print(len(data))

3012

In [7]:
print(data.count())

3012

In [10]:
print(data.sum())
print(data.mean())
print(data.min())
print(data.max())
print(data.mode())

1006942.0
334.31009296148744
49.95
782.22
0    291.21
dtype: float64

In [11]:
print(data.describe())

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [13]:
print(data.idxmax())
print(data.idxmin())

3011
11

In [14]:
print(data[3011])
print(data[11])

782.22
49.95

In [21]:
data = pd.read_csv("pokemon.csv",index_col = "Pokemon", squeeze = True)
print(data.head())

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [25]:
print(data.value_counts())

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [26]:
data = pd.read_csv("google_stock_price.csv")
print(data.head())

   Stock Price
0        50.12
1        54.10
2        54.65
3        52.38
4        52.95

In [28]:
data.apply(lambda  Stock_Price : Stock_Price + 100)

      Stock Price
0          150.12
1          154.10
2          154.65
3          152.38
4          152.95
...           ...
3007       872.88
3008       871.07
3009       873.18
3010       871.61
3011       882.22

[3012 rows x 1 columns]