In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("revenue.csv", index_col = "Date")
print(data.head(3))

        New York  Los Angeles  Miami
Date
1/1/16       985          122    499
1/2/16       738          788    534
1/3/16        14           20    933

In [4]:
print(data.columns)

Index(['New York', 'Los Angeles', 'Miami'], dtype='object')

In [5]:
print(data.index)

Index(['1/1/16', '1/2/16', '1/3/16', '1/4/16', '1/5/16', '1/6/16', '1/7/16',
       '1/8/16', '1/9/16', '1/10/16'],
      dtype='object', name='Date')

In [6]:
print(data.sum(axis = "columns"))

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [7]:
print(data.sum(axis = "rows"))

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [8]:
print(data["Los Angeles"])

Date
1/1/16     122
1/2/16     788
1/3/16      20
1/4/16     904
1/5/16      71
1/6/16     502
1/7/16     996
1/8/16     492
1/9/16     954
1/10/16    285
Name: Los Angeles, dtype: int64

In [9]:
print(data.Miami)

Date
1/1/16     499
1/2/16     534
1/3/16     933
1/4/16     885
1/5/16     253
1/6/16     497
1/7/16     115
1/8/16     886
1/9/16     823
1/10/16    216
Name: Miami, dtype: int64

In [10]:
print(data[['New York', 'Los Angeles']])

         New York  Los Angeles
Date
1/1/16        985          122
1/2/16        738          788
1/3/16         14           20
1/4/16        730          904
1/5/16        114           71
1/6/16        936          502
1/7/16        123          996
1/8/16        935          492
1/9/16        846          954
1/10/16        54          285

In [11]:
data["Chicago"] = 100
print(data.head())

        New York  Los Angeles  Miami  Chicago
Date
1/1/16       985          122    499      100
1/2/16       738          788    534      100
1/3/16        14           20    933      100
1/4/16       730          904    885      100
1/5/16       114           71    253      100