In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [13]:
mask = df["last"] == "Doe"

In [14]:
df[df["last"] == "Doe"]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [15]:
# or 
df[mask]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [16]:
#we can use loc to grap specific columms

df.loc[mask, "email"]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [17]:
#AND &, OR |, NOT !

In [23]:
mask = (df['last'] == 'Doe') & (df['first'] == 'Jane')

In [26]:
df.loc[mask, "email"]

1    JaneDoe@email.com
Name: email, dtype: object

In [27]:
#OR
mask1 = (df['last'] == 'Doe') | (df['first'] == 'Jane')

In [28]:
df.loc[mask1, "email"]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [31]:
#NOT using tilt
df.loc[~mask1, "email"]

0    CoreyMSchafer@gmail.com
Name: email, dtype: object